<?xml version='1.0' encoding='utf-8'?>
<widget id="com.evelt.quix" version="1.1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Quix</name>
    <description>
        Quix.
    </description>
    <author email="support@evelt.com" href="https://evelt.com">
        Evelt Team
    </author>
    <content src="index.html" />
    
    <config-file parent="/manifest" platform="android">
        <application android:theme="@android:style/Theme.Light.NoTitleBar" />
    </config-file>

    <preference name="phonegap-version" value="cli-7.0.1" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <icon src="icon.png" />
    <splash src="splash.png" />
    <platform name="android">
        <icon density="ldpi" src="res/icons/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="res/icons/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="res/icons/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="res/icons/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="res/icons/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="res/icons/android/drawable-xxxhdpi-icon.png" />
        <splash density="land-ldpi" src="res/screens/android/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="res/screens/android/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="res/screens/android/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="res/screens/android/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="res/screens/android/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="res/screens/android/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="res/screens/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="res/screens/android/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="res/screens/android/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="res/screens/android/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="res/screens/android/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="res/screens/android/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <platform name="ios">
        <icon height="57" src="res/icons/iosApp/Icon-App-57x57@1x.png" width="57" />
        <icon height="144" src="res/icons/iosApp/Icon-App-72x72@2x.png" width="144" />
        <icon height="72" src="res/icons/iosApp/Icon-App-72x72@1x.png" width="72" />
        <icon height="114" src="res/icons/iosApp/Icon-App-57x57@2x.png" width="114" />
        <icon height="100" src="res/icons/iosApp/Icon-Small-50x50@2x.png" width="100" />
        <icon height="60" src="res/icons/iosApp/Icon-App-60x60@1.png" width="60" />
        <icon height="120" src="res/icons/iosApp/Icon-App-60x60@2x.png" width="120" />
        <icon height="180" src="res/icons/iosApp/Icon-App-60x60@3x.png" width="180" />
        <icon height="76" src="res/icons/iosApp/Icon-App-76x76@1x.png" width="76" />
        <icon height="152" src="res/icons/iosApp/Icon-App-76x76@2x.png" width="152" />
        <icon height="29" src="res/icons/iosApp/Icon-App-29x29@1x.png" width="29" />
        <icon height="58" src="res/icons/iosApp/Icon-App-29x29@2x.png" width="58" />
        <icon height="87" src="res/icons/iosApp/Icon-App-29x29@3x.png" width="87" />
        <icon height="40" src="res/icons/iosApp/Icon-App-40x40@1x.png" width="40" />
        <icon height="80" src="res/icons/iosApp/Icon-App-40x40@2x.png" width="80" />
        <splash height="2208" src="res/screens/ios/Default-736h.png" width="1242" />
        <splash height="1242" src="res/screens/ios/Default-Landscape-736h.png" width="2208" />
        <splash height="1334" src="res/screens/ios/Default-667h.png" width="750" />
        <splash height="1136" src="res/screens/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="960" src="res/screens/ios/Default@2x~iphone.png" width="640" />
        <splash height="480" src="res/screens/ios/Default~iphone.png" width="320" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="browser" spec="~5.0.1" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
    <plugin name="onesignal-cordova-plugin" spec="^2.2.4" />

    <plugin name="cordova-plugin-file" spec="~4.3.3" />
    <plugin name="cordova-plugin-media" spec="~2.2.0" />
    <plugin name="cordova-plugin-media-capture" spec="~1.2.0" />
    <plugin name="cordova-plugin-camera" spec="~2.1.1" />

    <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
        <string>App would like to access the camera.</string>
    </edit-config>

    <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
        <string>App would like to access the library.</string>
    </edit-config>

    <edit-config target="NSMicrophoneUsageDescription" file="*-Info.plist" mode="merge">
        <string>App would like to access the microphone.</string>
    </edit-config>

</widget>
