<div class="info-page">
    <div class="row">

        <div class="col-s12">
            <br>
        </div>

        <div class="col s12">
            <div class="col s12">
                <div class="flow-text title">About</div>
                <p>
                    Quix, is a division of Best Mechanical
                    Service, the trusted plumbing company
                    among real estate developers and con-
                    tractors in NYC. Quix was created to solve
                    the need for on-demand plumbers who
                    provide quick, reliable and expert service.
                </p>
                <div class="flow-text cyan-text text-lighten-2 italic"><em>The Quix Team</em></div>
                <p>
                    The Quix Team consists of 100 fully
                    licensed and professional plumbers who
                    get the job done in a clean and efficient
                    manner. Entrust your home repairs in the
                    hands of the people who do it best.
                </p>
                <div class="flow-text cyan-text text-lighten-2 italic"><em>The Quix Promise</em></div>
                <p>
                    Quix promises a hassle- free experience.
                    Even though the pipe is leaking, you know
                    that someone who cares is on the way.
                </p>
                <div class="flow-text cyan-text text-lighten-2 italic"><em>The Quix Experience</em></div>
                <p>
                    The Quix experience is about finding a
                    plumber in less than 2 minutes. Try it for
                    yourself and plumbing problems will be a
                    worry of the past.
                </p>
            </div>
        </div>

    </div>
</div>
