<div class="app-inner">
    <div class="app-page">
        <div class="account-page">
            <div class="row">

                <div class="col-s12">
                    <br>
                </div>

                <div class="col s12">
                    <div class="col s12">
                        <div class="flow-text">My Account</div>
                    </div>
                </div>

                <div class="col s12">
                    <div class="col s12">
                        <div class="account-error-message error-message red-text text-accent-4"></div>
                    </div>
                </div>

                <div class="col s12">
                    <div class="col s12">
                        <div class="account-success-message center green-text text-accent-4"></div>
                    </div>
                </div>

                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="account_name" name="name" type="text" placeholder="Name" class="validate required">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="account_email" name="email" type="email" placeholder="Email" class="validate required">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="account_phone" name="phone" type="tel" placeholder="Phone" class="validate required">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center">
                            <a href="#" class="cyan-text text-lighten-2 change-password">Change Password</a>
                        </div>
                    </div>
                    <div class="password-fileds" style="display: none;">
                        <div class="row">
                            <div class="center col s12">
                                <input id="account_password" name="password" type="password" placeholder="Password" class="validate required">
                            </div>
                        </div>
                        <div class="row">
                            <div class="center col s12">
                                <input id="account_password2" name="password2" type="password" placeholder="Confirm Password" class="validate required">
                            </div>
                        </div>
                    </div>
                    <div class="row navigation">
                        <div class="input-field col s12">
                            <a class="col s12 waves-effect waves-light btn cyan lighten-2 account-save">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="app-page">
        <div class="account-page">

            <div class="col s12"> 

                <div class="row">
                    <div class="col s12">
                        <div class="col s12">
                            <div class="col s12">
                                <br>
                                <div class="flow-text title welcome-text"></div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>   

                <div class="row">
                    <div class="col s12">
                        <div class="col s12">
                            <a class="col s12 waves-effect waves-light cyan lighten-2 btn-large" data-page="request">Let’s Quix it</a>
                        </div>
                    </div>
                </div>   

                <div class="row">
                    <div class="col s12">
                        <div class="col s12">
                            <div class="col s12">
                                <br>
                                <p class="flow-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum temporibus, veniam. Doloribus perferendis, iste corporis consequuntur optio voluptas quam odio facilis ratione reprehenderit dolores aperiam ipsum quos quidem porro autem.
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div> 

            </div>


        </div> 
    </div>
    <a class="btn-floating btn-large waves-effect waves-light cyan lighten-2 account-settings" route-to="requests"><i class="material-icons">playlist_play</i></a>
</div>
