<div class="info-page">
    <div class="row">

        <div class="col-s12">
            <br>
        </div>

        <div class="col s12">
            <div class="col s12">
                <div class="flow-text title">Contact us</div>
                <div class="flow-text cyan-text text-lighten-2 italic"><em>Phone</em></div>
                <p>
                    <a href="tel:+888-566-7849" class="black-text">1-888-566-7849</a>
                </p>
                <div class="flow-text cyan-text text-lighten-2 italic"><em>Email</em></div>
                <p>
                    <a href="mailto:info@quixservice.com" class="black-text">info@quixservice.com</a>
                </p>

            </div>
        </div>

    </div>
</div>
