<div class="order-complete">

    <div class="flow-text">
        A Quix Plumber<br>
        is looking forward<br>
        to helping you!
    </div>
    <div class="order-number"></div>

    <div class="row">
        <div class="flow-text col s12">
            Save my info?
        </div>
        <div class="row col s12">
            <div class="col s6">
                <div class="white-button">Set up an account</div>
            </div>
            <div class="col s6">
                <div class="white-button">No thank you.</div>
            </div>
        </div>
        <div class="center col s12">
            <img src="images/quix-logo-white.png" alt="">
        </div>
    </div>

</div>
