<div class="info-page">
    <div class="row">

        <div class="col-s12">
            <br>
        </div>

        <div class="col s12">
            <div class="col s12">
                <div class="flow-text title">Services</div>
                <div class="flow-text cyan-text text-lighten-2 italic"><em>Installations</em></div>
                <p>
                    New sink? Congrats! Get it installed the
                    right way by scheduling an installation
                    with one of our experienced plumbers.
                    <br>
                    Ask about our New Home
                    Installation Package Deals.
                </p>
                <div class="flow-text cyan-text text-lighten-2 italic"><em>Repairs</em></div>
                <p>
                    Backed up drain? Don’t panic. Hiring a
                    plumber is so simple with the Quix app.
                    Tap to login, take a pic of the issue, and
                    schedule your appointment.
                </p>
                <div class="flow-text cyan-text text-lighten-2 italic"><em>Maintenance</em></div>
                <p>
                    Stop the issue before it starts. Regular
                    maintenance can extend the life of your
                    plumbing system for years. Tap into our
                    app to schedule a maintenance call.
                </p>
                <br><br>
                <div class="center">
                    <a class="waves-effect waves-light btn cyan lighten-2" data-page="request" href="#">&nbsp;&nbsp;&nbsp;Request a service&nbsp;&nbsp;&nbsp;</a>
                </div>

            </div>
        </div>

    </div>
</div>
