<div class="app-inner">

    <div class="app-page">

            <div class="signup-success">


                <div class="col s12">
                    <div class="flow-text title"></div>
                </div>

                <div class="col s12">
                    <a class="col s12 waves-effect waves-light cyan lighten-2 btn-large next" route-to="request">Let’s Quix it</a>
                </div>

                <div class="col s12">
                    <p class="flow-text message" >
                        Quix is a professional plumbing service company. 
                        <br><br>
                        We hope you will have a good experience with us,
                        If you do please consider sharing with your friends and family.
                    </p>
                </div>
                

            </div>

    </div>

</div>